.side-navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70px;
    padding: 10px 10px;

    overflow: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    color: white;
    background-color: hsl(0, 0%, 15%);

    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;

        .logo-icon {
            color: olivedrab;
            font-size: 200%;
        }

        .logo-text {
            display: none;
            margin-left: 1rem;
        }
    }

    .searchbar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        border-radius: 40px;
        clip-path: circle();
        line-height: 2rem;
        height: 2rem;
        background-color: white;

        input {
            display: none;
            background: none;
            outline: none;
            border: none;
            margin-left: 10px;
        }

        .search-icon {
            color: black;
            transform: translateY(1px);
            cursor: pointer;
        }
    }

    .nav-menu {
        .nav-item {
            margin-bottom: 1rem;

            a {
                display: flex;
                height: 3rem;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                color: inherit;
                border-radius: 10px;

                font-size: 110%;

                transition: 0.3s ease;

                &:hover {
                    background-color: #fff;
                    color: black;
                }

                .nav-text {
                    display: none;
                    margin-left: 0.4rem;
                }
            }
        }
    }

    .logout {
        width: 100%;
        margin-top: auto;
        border: 1px solid hsl(0, 0%, 25%);
        background-color: hsl(0, 0%, 10%);
        color: hsl(0, 0%, 100%);
        display: flex;
        justify-content: center;

        border-radius: 10px;
        padding: 0.5rem 0.5rem;

        &:hover {
            background-color: hsl(0, 0%, 100%);
            color: hsl(0, 0%, 10%);
        }
    }
}

@media (min-width: 769px) {
    .side-navigation {
        width: 260px;
        padding: 10px 20px;

        .logo {
            justify-content: flex-start;
            .logo-text {
                display: inline;
            }
        }

        .searchbar {
            clip-path: none;
            padding-left: 30px;
            input {
                display: block;
            }
            .search-icon {
            }
        }

        .nav-menu {
            .nav-item {
                a {
                    justify-content: flex-start;
                    .nav-text {
                        display: block;
                    }
                }
            }
        }
    }
}
